.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  max-width: 800px;
  font-size: 14px;
  line-height: 1.4;
}

.App-header,
.App-footer {
  padding: var(--base-padding);
}

.App-main {
  overflow-y: auto;
  margin-bottom: auto;
}

.App-title,
.App-FAB {
  font-weight: 500;
  color: #FFF;
}

.App-title {
  font-size: 1.43em;
  margin: 0;
}

.App-FAB {
  width: 100%;
  background: #5A3472;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 11px 0;
  line-height: 1;
  outline: none;
}
