.Card {
  display: flex;
  align-items: center;
  margin: 2px var(--base-padding);
  padding: var(--base-padding);
  color: #000;
  background: #FFF;
  border-radius: 8px;
  text-align: left;
}

.Card-title,
.Card-description {
  margin: 0;
}

.Card-icon {
  width: 40px;
  height: 40px;
  margin-right: var(--base-padding);
}

.Card-title {
  font-weight: 500;
  font-size: 1.43em;
}
